@tailwind base;
@tailwind components;
@tailwind utilities;

.shiki-theme > pre, .shiki-theme-home > pre {
  background-color: transparent !important;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki-theme code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin: 0 1.5rem;
  display: inline-block;
  text-align: right;
  color: #607B96;
}

@media (max-width: 764px) {
  .shiki-theme-home code, 
  .shiki-theme code {
    text-wrap: wrap;
  }

  .shiki-theme {
    padding: 1rem;
    font-size: smaller;
  }

  .shiki-theme code .line::before {
    content: none;
  }
}